<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Thsi site was created by Satyendra Kumar. It uses data from mapbox.com and forecast.</p>
        <img class="portrait" src="img/satya.jpg">
    </div>

    {{>footer}}
</body>

</html>